// * {
//   font-size: 1.2rem;
// }

.Home {
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  background-image: url('~/src/images/BestWindFish.jpg');
  background-size: cover;
  background-position: center 20%;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: SSP;

  .Content {
    margin-top: 6.5rem;
    width: 1260px;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .Top {
      height: 22.22rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .Section {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .Videos {
          height: 66%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .Video {
            height: 100%;
            width: 48.5%;
            background-color: black;
            border-radius: 0.7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            * {
              cursor: pointer;
            }

            &-Right {
              &:hover {
                margin-right: 0.25rem;
                margin-top: -0.25rem;
                // rotate: -2.5deg;
              }
            }

            &-Left {
              &:hover {
                margin-left: -0.25rem;
                margin-top: -0.25rem;
                // rotate: -2.5deg;
              }
            }

            img {
              margin-top: 0.5rem;
              width: 16.2rem;
              height: 9rem;
              background-color: grey;
              border-radius: 0.5rem;
              border: none;
            }

            .Info {
              margin-top: 0.6rem;
              width: 100%;
              height: 3.78rem;
              padding: 0 0.7rem;
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: space-between;

              h4 {
                font-size: 0.95rem;
                color: white;
                max-height: 2.44rem;
                overflow: hidden;
              }

              .Misc {
                display: flex;
                align-items: center;

                .Dot {
                  margin: 0 0.5rem;
                  height: 0.15rem;
                  width: 0.15rem;
                  border-radius: 1rem;
                  background-color: #747474;
                }

                p {
                  font-size: 0.8rem;
                  color: #747474;
                }
              }
            }
          }

          .History {
            border: solid 0.1rem #ffb800;
          }

          .Dev {
            border: solid 0.1rem #00fff0;
          }
        }

        .Blog {
          width: 100%;
          height: 25%;
          background-color: black;
          border-radius: 5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 0.6rem 1.5rem;

          &-History {
            border: solid 0.1rem #7a5800;
          }

          &-Dev {
            border: solid #00736c 0.1rem;
          }

          h4 {
            font-family: Marck;
            font-size: 1.05rem;
            text-decoration: underline;
            color: rgb(225, 225, 225);
            cursor: pointer;
          }

          p {
            font-family: SSP0;
            margin-bottom: 0.2rem;
            width: 98%;
            height: 2rem;
            overflow: hidden;
            line-height: 1rem;
            color: rgb(225, 225, 225);
            font-size: 0.79rem;
          }
        }
      }
    }

    .Middle {
      height: 8.78rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .Section {
        height: 100%;
        width: 26%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 0.5rem 1.8rem;

        h4 {
          margin-bottom: 0.4rem;
          font-size: 1.15rem;
          color: white;
          font-family: Frag;
        }

        p {
          margin-top: 0.3rem;
          width: 100%;
          padding: 0 0.2rem;
          font-size: 0.95rem;
          color: black;
          background-color: #e5e5e5;
          font-family: Frag;
        }
      }
    }

    .Bottom {
      height: 8.53rem;
      width: 100%;
    }
  }
}
