.Portfolio-Footer {
  height: 17rem;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 660px) {
    height: 20rem;
  }

  .Content {
    width: 1440px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    @media (max-width: 1440px) {
      width: 90%;
    }
    @media (max-width: 660px) {
      grid-template-columns: 1fr;
    }


    .Portfolio-Contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      height: 8rem;

      p {
        color: white;
      }

      h6 {
        color: white;
        font-size: 1.4rem;
        font-weight: 500;
      }

      a {
        p {
          color: rgb(97, 213, 252);
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .Underline {
        margin-top: 0.2rem;
        width: 7rem;
        height: 0.1rem;
        background-color: white;
      }

      .Info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 5rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }

    .Links {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        color: grey;
      }

      a {
        color: rgb(47, 121, 146);
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .Linksx {
        margin-top: 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-size: 0.7rem;
      }
    }
  }
}
