@import '../Dashboard.scss';

.Likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  width: 40rem;

  @media (max-width: $lowerBreak) {
    width: 18rem;
  }

  .AllLikes {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-around;

    .Like {
      border-radius: 0.5rem;
      border: solid rgba(255, 255, 255, 0.5) 0.1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.7rem;

      .BlogName {
        font-size: 1.2rem;
      }

      .Btn {
        width: 4rem;
      }

      .Delete {
        margin-top: 0.5rem;
        background-color: rgb(114, 0, 0);
      }
    }
  }
}
