@import '../../../../App.scss';

.Modal-Background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}

.Modal {
  resize: both;
  overflow: auto;
  position: absolute;
  margin: 10rem auto 0 auto;
  border: solid 0.3rem cyan;
  border-radius: 1rem;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 8rem;
  max-height: 40rem;
  max-width: 40rem;

  @media (max-width: $lowerBreak) {
    min-height: 10rem;
    max-width: 17rem;
    padding: 0.3rem;
  }

  .Close {
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    background-color: red;
    cursor: pointer;
    border: solid black 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    margin: -1.7rem 0 0 22rem;

    @media (max-width: $lowerBreak) {
      margin: 0rem 0 0 14rem;
    }

    &:hover {
      border: solid black 0.15rem;
    }

    .Icon {
      cursor: pointer;
      font-size: 1.3rem;
      color: black;

      path {
        cursor: pointer;
        svg {
          cursor: pointer;
        }
      }
    }
  }

  .Title {
    padding: 0;
    margin: 0 0 0 0;
  }

  .TextArea {
    resize: none;
    width: 100%;
    height: 80%;
    margin: 1rem 0 0 0;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.4);
    padding: 0.7rem 0 0 1rem;

    &:focus {
      border: solid 0.2rem rgb(255, 115, 0);
      outline: none;
    }
  }

  .Btn {
    margin: 1rem 0 1rem 0;

    &-Del {
      background-color: rgb(180, 0, 0);

      &:hover {
        border: black;
        color: black;
        font-size: 1.2rem;
      }
    }
  }
}
