.Projects {
  width: 1440px;
  padding: 5rem 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  h4 {
    margin-top: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .Start {
    margin-top: 0.8rem;
    width: 13rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #00ff73;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .Line {
    margin-top: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    p {
      font-size: 0.9rem;
      font-weight: 300;
      color: rgb(90, 90, 90);
    }

    .Github {
      margin-left: 0.5rem;
      width: 4rem;
      height: 1.8rem;
      border: solid 0.1rem rgb(90, 90, 90);
      border-radius: 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: 300;
      color: rgb(90, 90, 90);
    }
  }

  .Section {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 1.8rem;
      font-weight: 700;
    }

    .Underline {
      margin-top: 0.4rem;
      width: 45rem;
      height: 0.1rem;
      background-color: #00d1ff;
    }

    .Items {
      margin: 5rem 0 3.5rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 8rem;

      .PlaceHolder {
        width: 23.79rem;
      }

      img {
        object-fit: cover;
        width: 24.9795rem;
        height: 14.385rem;
        border: solid black 0.4rem;
        border-radius: 0.6rem;
        margin-top: 0.5rem;
        cursor: pointer;

        &:hover {
          border: solid rgb(182, 118, 0) 0.4rem;
        }
      }

      h5 {
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
}
