@import './Btn.scss';
$bgColor: rgba(18, 18, 18, 1);
$cyanColor: rgb(0, 255, 234);
$pineGreen: rgb(3, 121, 113);
$lightSeaGreen: rgb(3, 181, 170);
$tiffanyBlue: rgb(0, 191, 179);
$persianGreen: rgb(4, 154, 143);
$cyanColorTran: rgba(0, 255, 234, 0.788);
$pineGreenTran: rgba(3, 121, 113, 0.8);
$lightSeaGreenTran: rgba(3, 181, 170, 0.8);
$tiffanyBlueTran: rgba(0, 191, 179, 0.8);
$persianGreenTran: rgb(4, 154, 143, 0.8);
$upperBreak: 1150px;
$lowerBreak: 767px;
$cyanColor2: rgb(185, 126, 67);
$lightSeaGreen2: rgb(77, 52, 35);
$tiffanyBlue2: rgb(166, 123, 91);
$persianGreen2: rgb(107, 76, 55);
$pineGreen2: rgb(211, 163, 116);
$cyanColorTran2: rgba(185, 126, 67, 0.788);
$lightSeaGreenTran2: rgba(77, 52, 35, 0.8);
$tiffanyBlueTran2: rgba(166, 123, 91, 0.8);
$persianGreenTran2: rgb(107, 76, 55, 0.8);
$pineGreenTran2: rgba(211, 163, 116, 0.8);

a {
  color: black;

  &:active {
    color: black;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  color: white;
}

.App-Background {
  background-color: $bgColor;
  position: fixed;
  z-index: -4;
  height: 100%;
  width: 100%;
}

.App-Main {
  width: 100%;
  color: white;
  overflow: auto;
  display: flex;
  justify-content: center;
  background-color: $bgColor;

  * {
    font-family: Oswald;
    font-weight: 400;
  }
}

.Link {
  text-decoration: none;
  color: black;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

@mixin Section {
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 767px) and (max-width: 1150px) {
    width: 40rem;
  }
  @media (max-width: 767px) {
    width: 100%;
    padding: 0 1rem;
  }
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  font-family: Oswald;
  font-weight: 400;
}

.Btn {
  cursor: pointer;
}

.TitleBox2 {
  width: 100%;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  justify-items: center;

  .Link {
    width: 4rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0.3rem;
    cursor: pointer;

    &:hover {
      border: solid 1px rgba(255, 255, 255, 1);
    }

    p {
      cursor: pointer;
    }
  }
}
