@mixin btn() {
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  background-color: cyan;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:hover {
    color: rgb(255, 115, 0);
    border: solid 0.1rem rgb(255, 115, 0);
  }
}

.Btn {
  @include btn;
  width: 7rem;

  &-1 {
    @include btn;
    min-width: 4rem;
  }
  &-2 {
    @include btn;
    width: 2rem;
    height: 2rem;
    background-color: rgb(179, 0, 0);
    &:hover {
      color: black;
      border: solid 0.1rem black;
      font-size: 1.2rem;
    }
  }
}
