//@import '../../../App.scss';

.Navbar {
  position: fixed;
  width: 100vw;
  height: 3.1rem;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  * {
    color: white;
  }

  .Inner {
    margin: 0 1rem;
    width: 100%;
    max-width: 1440px;
    height: 3.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    font-family: SSP1;
    font-size: 1.75rem;
    width: 14.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (max-width: 1150px) {
      width: 11rem;
    }

    @media (max-width: 1020px) {
      width: auto;
    }

    @media (max-width: 300px) {
      font-size: 1.2rem;
    }
  }

  .Nav {
    margin: 0 2rem;
    width: 37rem;
    display: flex;
    justify-content: space-between;
    align-items: end;

    @media (max-width: 1020px) {
      display: none;
    }
  }

  .Item {
    position: relative;
    height: 1.2rem;

    p {
      font-family: SSP0;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        color: #e5ff00;
      }
    }

    &-History {
      width: 2.4rem;

      p {
        &:hover {
          color: #ffb800;
        }
      }
    }

    &-Dev {
      width: 1.4rem;

      p {
        &:hover {
          color: #00fff0;
        }
      }
    }

    &-Profile {
      width: 2.3rem;

      p {
        &:hover {
          color: #bc74ff;
        }
      }
    }
  }

  .hamburger {
    position: relative;
    height: 1.8rem;
    width: 1.8rem;
    display: none;

    @media (max-width: 1020px) {
      display: block;
    }

    .icon {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  .DropOuter {
    position: absolute;

    &:hover {
      .Drop {
        position: initial !important;
      }
    }
  }

  .Drop {
    width: 5rem;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    background-color: black;
    padding: 0.1rem;

    &-hamburger {
      margin-left: -7rem;
      width: 10rem;
    }

    p {
      padding: 0.1rem 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgb(100, 100, 100);
      }
    }
  }

  .EndNav {
    width: 14.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1150px) {
      width: 11rem;
    }

    @media (max-width: 420px) {
      width: 6rem;

      .Login {
        width: 3rem;
      }
      .Stream {
        width: 4rem;
      }
    }

    .Login {
      font-family: SSP;
      width: 4.7rem;
      height: 1.6rem;
      background-color: #78e7ff;
      border-radius: 0.25rem;
      font-size: 0.85rem;
      color: black;

      &:hover {
        color: rgb(192, 109, 0);
        border: rgb(192, 109, 0) 0.1rem solid;
      }

      @media (max-width: 1150px) {
        width: 3.7rem;
      }

      @media (max-width: 420px) {
        width: 3rem;
      }
    }

    .Stream {
      margin-right: 0.6rem;
      width: 7rem;
      height: 1.5rem;
      background-color: #ffa1a1;

      @media (max-width: 1150px) {
        width: 5rem;
      }
      @media (max-width: 420px) {
        width: 1.5rem;
      }
    }
  }

  .Group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: none;
    margin: 0 1.7rem;
    @media (max-width: 1020px) {
      display: block;
    }
    .icon {
      width: 2rem;
      height: 2rem;
    }

    li,
    .link {
      display: inline-block;
      width: 100%;
    }

    .link {
      display: block;
      padding: 10px 1.5rem;
      transition: background-color 0.22s ease;
      &:hover {
        background-color: #113a38;
      }
    }

    li {
      position: relative;
      &:hover {
        .submenu {
          display: block;
          animation: slideup 0.3s ease;
        }
      }
    }
  }

  .submenu {
    position: absolute;
    background-color: black;
    width: 140px;
    right: 0;
    display: none;
    li {
      &:hover {
        .submenu2 {
          display: block;
          animation: slideright 0.3s ease;
        }
      }
    }
  }

  .submenu2 {
    position: absolute;
    right: 100%;
    width: 160px;
    top: 0;
    background-color: black;
    display: none;
  }

  @keyframes slideup {
    0% {
      opacity: 0;
      transform: translateY(18px);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes slideright {
    0% {
      opacity: 0;
      transform: translateX(-18px);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }
}
