//@import '../../../App.scss';

.Navbar {
  position: fixed;
  width: 100vw;
  height: 3.1rem;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  * {
    color: white;
  }

  .Inner {
    width: 100%;
    max-width: 1440px;
    height: 3.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-family: SSP1;
      font-size: 1.75rem;
      margin-left: 4rem;
      margin-right: 10rem;
      cursor: pointer;
    }

    .Nav {
      width: 37rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .Item {
        position: relative;
        height: 1.2rem;

        .DropOuter {
          position: absolute;

          &:hover {
            .Drop {
              position: initial !important;
            }
          }
          .Drop {
            width: 5rem;
            position: absolute !important;
            top: -9999px !important;
            left: -9999px !important;
            background-color: black;
            padding: 0.1rem;

            p {
              padding: 0.1rem 0;
            }
          }
        }

        p {
          font-family: SSP0;
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            color: #e5ff00;
          }
        }

        &-History {
          width: 2.4rem;

          p {
            &:hover {
              color: #ffb800;
            }
          }
        }

        &-Dev {
          width: 1.4rem;

          p {
            &:hover {
              color: #00fff0;
            }
          }
        }

        &-Profile {
          width: 2.3rem;

          p {
            &:hover {
              color: #bc74ff;
            }
          }
        }
      }
    }

    .EndNav {
      width: 14.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .Login {
        font-family: SSP;
        width: 4.7rem;
        height: 1.6rem;
        background-color: #78e7ff;
        border-radius: 0.25rem;
        font-size: 0.85rem;
        color: black;

        &:hover {
          color: rgb(192, 109, 0);
          border: rgb(192, 109, 0) 0.1rem solid;
        }
      }

      .Stream {
        margin-right: 0.6rem;
        width: 7rem;
        height: 2rem;
        background-color: #ffa1a1;
      }
    }
  }
}
